<a href="https://colab.research.google.com/github/ThayraSosa/Format1/blob/main/Formatting_II_Categorical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><img src="https://i.imgur.com/zRrFdsf.png" width="700"></center>

# Data Formatting (categorical)


In this formatting tutorial we will see the categorical case.


Let's get [some data](https://en.wikipedia.org/wiki/List_of_freedom_indices):

In [1]:
import pandas as pd

link='https://en.wikipedia.org/wiki/List_of_freedom_indices'
freeDFs=pd.read_html(link,flavor='bs4',match='w',attrs={'class':"wikitable"})

# how many tables?
len(freeDFs)

2

In [2]:
#is this one?
freeDFs[0]

                       Index              Scale                     \
                       Index Unnamed: 1_level_1 Unnamed: 2_level_1
0       Freedom in the World               free               free
1  Index of Economic Freedom               free               free
2        Press Freedom Index     good situation     good situation
3            Democracy Index     full democracy     full democracy

                                                                      \
  Unnamed: 3_level_1      Unnamed: 4_level_1      Unnamed: 5_level_1
0               free                    free                    free
1               free             mostly free             mostly free
2     good situation  satisfactory situation  satisfactory situation
3     full democracy        flawed democracy        flawed democracy

                                                                     \
       Unnamed: 6_level_1   Unnamed: 7_level_1   Unnamed: 8_level_1
0             partly free          partly free          partly free
1             mostly free      moderately free      moderately free
2  satisfactory situation  noticeable problems  noticeable problems
3        flawed democracy        hybrid regime        hybrid regime

                                                                    \
    Unnamed: 9_level_1   Unnamed: 10_level_1   Unnamed: 11_level_1
0          partly free           partly free              not free
1      moderately free         mostly unfree         mostly unfree
2  noticeable problems   difficult situation   difficult situation
3        hybrid regime  authoritarian regime  authoritarian regime

                                                                         \
    Unnamed: 12_level_1     Unnamed: 13_level_1     Unnamed: 14_level_1
0              not free                not free                not free
1         mostly unfree               repressed               repressed
2   difficult situation  very serious situation  very serious situation
3  authoritarian regime    authoritarian regime    authoritarian regime


      Unnamed: 15_level_1
0                not free
1               repressed
2  very serious situation
3    authoritarian regime

Then, you want the second table:

In [3]:
allFree=freeDFs[1]
allFree.head()

,Country,Freedom in the World 2022[13],2022 Index of Economic Freedom[14],2022 Press Freedom Index[3],2021 Democracy Index[9]
0,Afghanistan,not free,NaN,very serious situation,authoritarian regime
1,Albania,partly free,moderately free,noticeable problems,flawed democracy
2,Algeria,not free,repressed,difficult situation,authoritarian regime
3,Andorra,free,NaN,noticeable problems,NaN
4,Angola,not free,mostly unfree,noticeable problems,authoritarian regime

Cleaning column names:

In [4]:
allFree.columns

Index(['Country', 'Freedom in the World 2022[13]',
       '2022 Index of Economic Freedom[14]', '2022 Press Freedom Index[3]',
       '2021 Democracy Index[9]'],
      dtype='object')

This is a good alternative:

In [7]:
allFree.columns.str.replace(r"\W|\d","",regex=True)

Index(['Country', 'FreedomintheWorld', 'IndexofEconomicFreedom',
       'PressFreedomIndex', 'DemocracyIndex'],
      dtype='object')

In [8]:
#then
allFree.columns=allFree.columns.str.replace(r"\W|\d","",regex=True)

Let's clean all the leading/trailing space in every cell:

In [9]:
# this code breaks if applied to numeric columns
allFree=allFree.apply(lambda x: x.str.strip())

Do we have unique country names?

In [10]:
len(allFree.Country)==len(pd.unique(allFree.Country))

True

Let's start formatting:

In [11]:
# check current data types:
allFree.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 197 non-null    object
 1   FreedomintheWorld       197 non-null    object
 2   IndexofEconomicFreedom  177 non-null    object
 3   PressFreedomIndex       184 non-null    object
 4   DemocracyIndex          167 non-null    object
dtypes: object(5)
memory usage: 7.8+ KB

We see every column is just of the object type. Instead of frequency tables, check unique values:

In [12]:
[list(allFree[c].sort_values().unique()) for c in allFree.columns[1:]]

[['free', 'not free', 'partly free'],
 ['free', 'moderately free', 'mostly free', 'mostly unfree', 'repressed', nan],
 ['difficult situation',
  'good situation',
  'noticeable problems',
  'satisfactory situation',
  'very serious situation',
  nan],
 ['authoritarian regime',
  'flawed democracy',
  'full democracy',
  'hybrid regime',
  nan]]

You wanted to check for mistakes like ['free', 'not free', 'partly free', 'Free']. The cells are clean.

Now, let's turn the values into **ordinal** categories. Remember that the worst, best and middle values should be comparable:

In [13]:
mapper1 = {'not free': 1,'partly free': 3, 'free':5 }
allFree.FreedomintheWorld.replace(mapper1,inplace=True)

mapper2 = {'repressed':1, 'mostly unfree':2,'moderately free':3, 'mostly free':4, 'free':5}
allFree.IndexofEconomicFreedom.replace(mapper2,inplace=True)


mapper3 = {'very serious situation':1,'difficult situation':2, 'noticeable problems':3,
           'satisfactory situation':4,'good situation':5}
allFree.PressFreedomIndex.replace(mapper3,inplace=True)

mapper4 = {'authoritarian regime':1, 'hybrid regime':2,'flawed democracy':3,'full democracy':5}
allFree.DemocracyIndex.replace(mapper4,inplace=True)

In [14]:
allFree

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex
0,Afghanistan,1,NaN,1.0,1.0
1,Albania,3,3.0,3.0,3.0
2,Algeria,1,1.0,2.0,1.0
3,Andorra,5,NaN,3.0,NaN
4,Angola,1,2.0,3.0,1.0
...,...,...,...,...,...
192,Venezuela,1,1.0,1.0,1.0
193,Vietnam,1,3.0,1.0,1.0
194,Yemen,1,NaN,1.0,1.0
195,Zambia,3,1.0,3.0,2.0
196,Zimbabwe,1,1.0,2.0,1.0

Let's explore:

In [15]:
#check types:
allFree.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 197 non-null    object
 1   FreedomintheWorld       197 non-null    int64
 2   IndexofEconomicFreedom  177 non-null    float64
 3   PressFreedomIndex       184 non-null    float64
 4   DemocracyIndex          167 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 7.8+ KB

In [16]:
# what about
allFree[allFree.columns[1:]]=allFree.iloc[:,1:].apply(lambda x: x.astype('Int64'))

In [17]:
#then
allFree.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 197 non-null    object
 1   FreedomintheWorld       197 non-null    Int64
 2   IndexofEconomicFreedom  177 non-null    Int64
 3   PressFreedomIndex       184 non-null    Int64
 4   DemocracyIndex          167 non-null    Int64
dtypes: Int64(4), object(1)
memory usage: 8.6+ KB

However, these are not yet ordinal. Let's do it:

In [18]:
from pandas.api.types import CategoricalDtype

order = CategoricalDtype(categories=[1,2,3,4,5], ordered=True)
allFree.iloc[:,1:].apply(lambda x:x.astype(order)).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   FreedomintheWorld       197 non-null    category
 1   IndexofEconomicFreedom  177 non-null    category
 2   PressFreedomIndex       184 non-null    category
 3   DemocracyIndex          167 non-null    category
dtypes: category(4)
memory usage: 1.7 KB

In [19]:
# create some new names:
newNames=allFree.columns[1:]+'_ord'
#see
newNames

Index(['FreedomintheWorld_ord', 'IndexofEconomicFreedom_ord',
       'PressFreedomIndex_ord', 'DemocracyIndex_ord'],
      dtype='object')

In [20]:
allFree[newNames]=allFree.iloc[:,1:].apply(lambda x:x.astype(order))

In [21]:
allFree.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     197 non-null    object
 1   FreedomintheWorld           197 non-null    Int64
 2   IndexofEconomicFreedom      177 non-null    Int64
 3   PressFreedomIndex           184 non-null    Int64
 4   DemocracyIndex              167 non-null    Int64
 5   FreedomintheWorld_ord       197 non-null    category
 6   IndexofEconomicFreedom_ord  177 non-null    category
 7   PressFreedomIndex_ord       184 non-null    category
 8   DemocracyIndex_ord          167 non-null    category
dtypes: Int64(4), category(4), object(1)
memory usage: 10.2+ KB

In [22]:
allFree.IndexofEconomicFreedom_ord

0      NaN
1        3
2        1
3      NaN
4        2
      ...
192      1
193      3
194    NaN
195      1
196      1
Name: IndexofEconomicFreedom_ord, Length: 197, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

You may want to rename them:

In [23]:
ordCats={1:'veryLow',2:'low',3:'medium',4:'good',5:'veryGood'}

turnToOrdinal= lambda x:x.cat.rename_categories(ordCats)

allFree.iloc[:,5:].apply(turnToOrdinal)

,FreedomintheWorld_ord,IndexofEconomicFreedom_ord,PressFreedomIndex_ord,DemocracyIndex_ord
0,veryLow,NaN,veryLow,veryLow
1,medium,medium,medium,medium
2,veryLow,veryLow,low,veryLow
3,veryGood,NaN,medium,NaN
4,veryLow,low,medium,veryLow
...,...,...,...,...
192,veryLow,veryLow,veryLow,veryLow
193,veryLow,medium,veryLow,veryLow
194,veryLow,NaN,veryLow,veryLow
195,medium,veryLow,medium,low
196,veryLow,veryLow,low,veryLow

In [24]:
allFree[newNames]=allFree.iloc[:,5:].apply(turnToOrdinal)

# see
allFree.head(10)

,Country,FreedomintheWorld,IndexofEconomicFreedom,PressFreedomIndex,DemocracyIndex,FreedomintheWorld_ord,IndexofEconomicFreedom_ord,PressFreedomIndex_ord,DemocracyIndex_ord
0,Afghanistan,1,<NA>,1,1,veryLow,NaN,veryLow,veryLow
1,Albania,3,3,3,3,medium,medium,medium,medium
2,Algeria,1,1,2,1,veryLow,veryLow,low,veryLow
3,Andorra,5,<NA>,3,<NA>,veryGood,NaN,medium,NaN
4,Angola,1,2,3,1,veryLow,low,medium,veryLow
5,Antigua and Barbuda,5,<NA>,3,<NA>,veryGood,NaN,medium,NaN
6,Argentina,5,2,4,3,veryGood,low,good,medium
7,Armenia,3,3,3,2,medium,medium,medium,low
8,Australia,5,4,4,5,veryGood,good,good,veryGood
9,Austria,5,4,4,5,veryGood,good,good,veryGood

Let's keep this last result, but this let me show you the use of **pickle** format:

In [25]:
#saving

import os 

allFree.to_csv(os.path.join("data","allFree.csv"),index=False )
allFree.to_pickle(os.path.join("data","allFree.pkl") )

OSError: ignored

In [26]:
#reading

dfPickle=pd.read_pickle(os.path.join("data","allFree.pkl") )  
dfCSV=pd.read_csv(os.path.join("data","allFree.csv") )

FileNotFoundError: ignored

Now, notice the difference when you have categorical data:

In [27]:
dfPickle.info()

NameError: ignored

In [28]:
dfCSV.info()

NameError: ignored

In [29]:
# the file kept the data type
dfPickle.DemocracyIndex_ord

NameError: ignored

In [30]:
# the file did not keep the data type
dfCSV.DemocracyIndex_ord

NameError: ignored